.creation {
  margin-top: 930px !important;
  color: #003f06;
  margin-bottom: 40px !important;
  /* margin-left: 6%; */
}

.creation h1 {
  text-align: center;
  font-size: 36px;
}

.creation span {
  font-weight: 500;
  font-size: 17px;
}

.information {
  display: flex;
  justify-content: space-between;
}

.first_section {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.start_info {
  width: 90%;
  margin-left: 30px;
  font-weight: 400;
  font-size: 18px;
}

/* .second-section {
  position: relative;
} */

.second_section_image {
  background: url("../images/second.png") no-repeat;
  position: absolute;
  background-size: cover;
  width: 650px;
  height: 733px;
  /* background-position: center; */
  right: 0;
  /* border-radius: 20px; */
}

.first_section_image {
  background: url("../images/first.png") no-repeat;
  width: 881px;
  height: 389px;
  position: absolute;
  background-size: cover;
  /* background-position: center; */
  left: 0;
  margin-top: 210px;
  border-radius: 20px !important;
}

.slider {
  margin-top: 550px;
  width: 1110px;
  height: 513px;
  display: flex;
}

.first_eko {
  background: url("../images/card_bg.png");
  height: 513px;
  width: 700px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 60px;
  padding-right: 20px;
  background-size: contain;
}

.first_eko h2 {
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  padding-top: 35px;
}

.second_eko {
  background: url("../images/ecotechpark.png");
  height: 513px;
  width: 443px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-size: contain;
}

.button_more {
  background-color: #003f06;
  color: #fff;
  width: 246px;
  height: 64px;
  background: linear-gradient(93.82deg, #003f06 13.82%, #006d0b 96.11%);
  box-shadow: 5px 5px 20px rgba(1, 63, 7, 0.23);
  border-radius: 13px;
  font-weight: 600;
  font-size: 19px;
  margin-top: 35px;
  cursor: pointer;
}
