.footer_main {
  height: 240px;
  background: url("../images/footer_bg.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  padding: 100px 140px;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.first_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

.logo span {
  font-weight: 400;
  font-size: 18px;
  color: white;
}
.call_link {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.call {
  display: flex;
  flex-direction: column;
}

.call h2 {
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.call h3 {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.second_part ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.second_part ul li {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.face_whats {
  display: flex;
  justify-content: space-around;
}

.second_part ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.second_part ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.second_part li a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .footer_main {
    padding: 40px 40px;
  }
}

@media only screen and (max-width: 800px) {
  .footer_main {
    padding: 25px 10px;
  }
}

@media only screen and (max-width: 750px) {
  .footer_main {
    height: 370px;
  }

  .call_link {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .face_whats {
    display: block;
    padding: 10px 0;
  }
  .link {
    width: 100%;
  }
  .second_part ul {
    font-size: 13px;
  }

  .address_name {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 630px) {
  .call_link {
    width: 40%;
  }
}

@media only screen and (max-width: 530px) {
  .second_part {
    display: none;
  }
  .call_link {
    display: none;
  }
  .address_name {
    display: none;
  }
  .footer_main {
    height: 200px;
  }
  .logo {
    padding-top: 5%;
  }
}
