.main_mission {
  margin-top: 100px;
  /* background-color: burlywood; */
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
.mission {
  background-color: burlywood;
  position: absolute;
  left: 0;
  right: 0;
  height: 600px;
}

.our_mission {
  padding-top: 90px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
}

.mission_info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main_mission span {
  font-weight: 400;
  font-size: 18px;
  /* width: 70vw; */
  padding: 0 100px;
}

.invitation {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  margin: 0 auto;
  padding: 30px 100px;
  color: white;
}

.invite_project h1 {
  padding-bottom: 20px;
}

.first_button {
  width: 246px;
  height: 64px;
  box-shadow: 0 6px 6px rgba(255, 255, 255, 0.6);
  border-radius: 13px;
  font-weight: 600;
  font-size: 19px;
  cursor: pointer;
  border: 1px solid #fff;
  border-image-slice: 1;
  color: white;
  background-color: transparent;
  border-radius: 13px;

  /* overflow: hidden;
  outline: none; */
}

.first_button:nth-of-type(1) {
  margin-right: 165px !important;
}

.green_button {
  width: 246px;
  height: 64px;
  background: linear-gradient(93.82deg, #003f06 13.82%, #006d0b 96.11%);
  box-shadow: 5px 5px 20px rgba(1, 63, 7, 0.23);
  border-radius: 13px;
  font-weight: 600;
  font-size: 19px;
  cursor: pointer;
  color: white;
  border: none;
}

.partners {
  padding-top: 650px;
  font-weight: 700;
  font-size: 36px;
  color: #003f06;
  width: 100%;
}

.partners_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 100px;
}

.eco {
  background: url("../images/eco_omega_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  background-size: contain;
  margin-top: 70px;
  margin-right: 70px;
}

.kg {
  background: url("../images/kyrgyz_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  background-size: contain;
  margin-top: 70px;
  margin-right: 70px;
}

.jalal {
  background: url("../images/jalal_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  background-size: contain;
  margin-top: 70px;
  margin-right: 70px;
}

.bishkek {
  background: url("../images/Bishkek_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  margin-right: 70px;
  margin-top: 70px;
  background-size: contain;
}

.jal {
  background: url("../images/jalalabat_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  margin-right: 70px;
  margin-top: 70px;
  background-size: contain;
}

.neftegaz {
  background: url("../images/kyrgyzneftegaz_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  margin-right: 70px;
  margin-top: 70px;
  background-size: contain;
}

.vnipi {
  background: url("../images/vnipi_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  margin-right: 70px;
  margin-top: 70px;
  background-size: contain;
}

.vodokanal {
  background: url("../images/bishkekvodokanal_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  margin-right: 70px;
  margin-top: 70px;
  background-size: contain;
}

.te {
  background: url("../images/te_logo.jpg") no-repeat;
  width: 172px;
  height: 175px;
  margin-right: 70px;
  background-size: contain;
  margin-top: 70px;
}

.news {
  position: absolute;
  width: 92%;
  overflow-x: auto;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  flex-wrap: no-wrap;
  right: 0;
}

.news h1 {
  color: #003f06;
  font-weight: 700;
  font-size: 36px;
  margin-top: 80px;
}

.main_news {
  display: flex;
  justify-content: space-between;

  /* white-space: nowrap; */
}

.main_news::-webkit-scrollbar {
  width: 0;
}

.image_news {
  background: url("../images/image\ 10.jpg");
  width: 350px;
  height: 234px;
  background-size: contain;
  border-radius: 10px;
  /* object-fit: contain; */
}

.news_style {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-right: 40px;
}

.news_style h2 {
  font-weight: 700;
  font-size: 26px;
  color: #003f06;
}

.news_style span {
  font-weight: 400;
  font-size: 18px;
  color: #003f06;
  padding: 0;
}

.news_style h4 {
  font-weight: 600;
  font-size: 19px;
  color: #003f06;
  cursor: pointer;
}

@media only screen and (max-width: 1220px) {
  .mission {
    height: 820px;
  }
  .invitation {
    flex-direction: column;
  }

  .invite_project h1 {
    padding-top: 50px;
  }
  .partners {
    padding-top: 800px;
  }
}

@media only screen and (max-width: 920px) {
  .invitation {
    padding: 0 50px;
  }
  .invite_project h1 {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 870px) {
  .first_button:nth-of-type(1) {
    margin-right: 0 !important;
  }
  .first_button_group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 750px) {
  .our_mission {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .partners_icons {
    padding: 0 40px;
  }
  .eco {
    width: 172px;
    margin-right: 0;
  }

  .kg {
    width: 172px;

    margin-right: 0;
  }

  .jalal {
    width: 172px;

    margin-right: 0;
  }

  .bishkek {
    width: 172px;

    margin-right: 0;
  }

  .jal {
    margin-right: 0;
  }

  .neftegaz {
    width: 172px;
    margin-right: 0;
  }

  .vnipi {
    width: 172px;
    margin-right: 0;
  }

  .vodokanal {
    width: 172px;
    margin-right: 0;
  }

  .te {
    width: 172px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 630px) {
  .main_mission span {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 590px) {
  .first_button_group {
    justify-content: center;
  }
  .first_button:nth-of-type(1) {
    margin-bottom: 25px;
  }
  .invite_project h1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .our_mission {
    font-size: 28px;
  }
  .main_mission span {
    font-size: 15px;
  }
  .invite_project h1 {
    font-size: 28px;
  }
  /* .news h1 {
    font-size: 28px;
  } */
}

@media only screen and (max-width: 420px) {
  .partners_icons {
    justify-content: center;
  }
}
